*.iml
.gradle
/local.properties
/.idea/caches
/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/15-puzzle/build/
/15-puzzle/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/camera-calibration/build/
/camera-calibration/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/color-blob-detection/build/
/color-blob-detection/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/face-detection/build/
/face-detection/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/image-manipulations/build/
/image-manipulations/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/mobilenet-objdetect/build/
/mobilenet-objdetect/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/qr-detection/build/
/qr-detection/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/tutorial-1-camerapreview/build/
/tutorial-1-camerapreview/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/tutorial-2-mixedprocessing/build/
/tutorial-2-mixedprocessing/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/tutorial-3-cameracontrol/build/
/tutorial-3-cameracontrol/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/tutorial-4-opencl/build/
/tutorial-4-opencl/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/video-recorder/build/
/video-recorder/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/